fastapi
uvicorn
firebase-admin
pydantic==1.10.12
email-validator 
qrcode[pil]
pandas
numpy==1.23.5        
tensorflow
scikit-learn
catboost
xgboost
lightgbm
joblib
Pillow
easyocr
arabic-reshaper
python-bidi           
matplotlib
plotly
graphviz
openpyxl
pytz
python-dotenv
requests
python-multipart     
